*{
   
    font-family: "poppins",sans-serif;
    
}
html body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
.bgc-black{
    background-color: #1c1c1c;
}

.hero-area{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}
.hero-section{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: flex;
    justify-content: center;
}
.img-box{
    width: 100%;
}
.hero-section .img-box img{
    min-width: 100%;
    min-height: 100%;
}
 .aboutus-section .img-box img{
    min-width: 100%;
    min-height: 100%;
}
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.35));
}
.header-top{
    background-color: #1c1c1c;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}
.container-fluid{
    padding-left: 0px;
    padding-right: 0px;
}
.contact-link{
    color: #ffc107;
    margin-left: 15px;
    text-decoration: none;
    margin-right: 10px;
}
.f1{
    color: white;
    margin-left: 2px;
}
.navbar-expand-lg .navbar-nav {

    margin-left: auto;
}
.nav-bar-section .navbar{
    padding: 0;
    margin-left: 25px;
    margin-right: 18px;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding: 12px;
    transition: all .2s;
    padding-top: 40px;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    background-color: #1c1c1c;
    position: relative;
    bottom: 4px;
    
}
/* .navbar-brand {
    position: relative;
    bottom: 20px;
    left: 20px;
} */
.info-section{
    padding: 160px 50px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}
.info-section .first-info h1{
    font-size: 50px;
}
.second-sec{
    font-size: 18px;

}
.third-sec{
    display: flex;
    gap: 8px;
}
.btn-1{
    display: inline-block;
    background-color: #ffffff;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    color: black;
    border: 1px solid #ffffff;
    transition: all .2s;
}
.btn-2{
    display: inline-block;
    background-color: #ffc107;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 1px solid #ffc107;
    transition: all .2s;
}
.btn-1:hover{
   background-color: transparent;
   color: white;
}
.btn-2:hover{
    background-color: transparent;
    color: #ffc107;
}

.carousel-indicators{
   margin: 0;
   bottom: 10%;
}
.carousel-indicators [data-bs-target]{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    background-color: #f1db25;
    opacity: 1;
    border: none;
    margin: 0 4px;
}
.carousel-indicators .active{
    background-color: white;
}

.layout-padding{
    padding-top: 90px;
    padding-bottom: 90px;
}
.underline{

    width: 40px;
    height: 7px;
    background-color: #ffc107;
    border-radius: 10px;
    position: relative;
    left: 2px;
   
}

.heading-container h2{
    font-weight: bolder;
    font-size: 2rem;
    color: #0c0c0c;
}
.main-container{
    background-color: white;
    padding: 45px 25px;
    position: relative;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    margin-left:0;
    margin-top: 34px;
}
.services-section{
    background-color: #1c1c1c;
    padding: 70px 34px;
}
.box{
    background-color: white;
    padding: 59px 42px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05);
    margin-top: 45px;
    text-align: center;
    position: relative;

}
.services-section .box .mimg-box svg {
    width: 75px;
    height: auto;
    fill: #1c1c1c;
}

.boxxy{
    width: 145px;
}
.boxxy img{
    width: 100%;
}
.detail-box h4{
    font-weight: bold;
}
/* .detail-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
} */
.client-section .box{
    margin-top: -15px;
}
.carousel-control-next, .carousel-control-prev{
    position: absolute;
    top: 50%;
    width: 45px;
    height: 45px;
    border: none;
    opacity: 1;
    background-color: #1c1c1c;
    color: #ffffff;
    border-radius: 100%;
    transform: translateY(-50%);
    font-size: 18px;
}
.carousel-control-next:hover {
   background-color: #ffc107;
}
.carousel-control-prev:hover{
    background-color: #ffc107;
}
.contactus-section{
    position: relative;
    color: white;
}
.contactus-section .img-box{
    
    width: 100%;
}
.contactus-section .img-box img{
    min-width: 100%;
    min-height: 100%;
}

.contact-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.contact-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.35));

}
.contactus-section .form-container input{
    border: none;
    outline: none;
    color: #000000;
    height: 45px;
    width: 100%;
    margin: 15px 0;
    padding-left: 15px;
    background-color: #ffffff;
}
.contactus-section .form-container input::placeholder{
    text-transform: uppercase;
    color: black;
}
.msg-input{
    padding: 80px;
}
.btn-box{
    cursor: pointer;
    margin-top: 20px;
}

.guards-section .box .detail-box{
    position: absolute;
    width: 100%;
    color: #ffffff;
    padding: 25px 15px;
    text-align: center;
    bottom: 0px;
    background-color: rgba(28, 28, 28, 0.75);
    

}

.guards-section .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    margin-top: 45px;
    position: relative;
    padding: 0;
}


.footer-sec{
    background-color: #101010;
    color: white;
}
.footer-sec a{
    text-decoration: none;
}
.guard{
    
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
}
.contact-us{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.form-sec{
    display: flex;
    flex-direction: column;
    gap: 18px;
}
.form-sec input{
    padding: 7px 10px;
    border: none;
    border-radius: 20px;
    outline: none;

}
.btn-5{
    width: 70%;
    padding: 8px 35px;
    border: 1px solid #ffc107;
    border-radius: 20px;
    background-color: #ffc107;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    transition: all 0.2s ;
}
.btn-5:hover{
    background-color: transparent;
    border: 1px solid #ffc107;
}
.fsec{
    background-color: #101010;
   
    color:#fff;
}
.fsec p{
    margin-bottom: 0 !important;
}

.container-fluid {
    overflow: hidden;
}
.container{
    overflow: hidden;
}
.navbar .container-fluid{
    overflow: visible;
}

.carousel-btn-box{
    display: flex;
    justify-content: center;
}

.guards-section .box .img-box {
        
    width: 100%;
}
.guards-section .img-box img {
    
    width: 100%;
}

.social-box{
    text-align: center;
}